html{
    
    margin: 1%;
}


header{

    display:flex;
    flex-direction: row;
    background-color:#659dbd;
    padding:1%;
   width:100%;
   
}
a{
    color: salmon;
}

main{
    margin-top:2%;
    background-color: peachpuff;
    margin-right: 2%;
}

body{

    background-color: slategray;
    margin: 1%;
    width:100%;
}
/* styles my profile picture */
#me{
    max-width:300px;
    max-height:300px;
    margin:30px;

}

h1{
    margin-left: 2%;
}

nav {

  display: flex;
  justify-content:space-evenly ;
  align-items: center;
  text-align: center;
  position: relative;
  padding:0px;
  left:19%;
  width:35%;
}
.navDiv{

    display: flex;
    position:relative;
    width:40%;
}

nav a{
 
    color:blue;
    
  
}
/* styles the article that holds my breif bio */
.bio{
   
    width:50%;
    flex-direction: column;
   
}
/* styles the div with everything about me  */
.aboutMe{

    display:flex;
}

.bio h3 {
    margin-left:7%;
    width:fit-content;
    background-color: beige;
}
.bio p {

    padding-right:3% ;
    
}
.pastWork{

    display:flex;
    padding-bottom: 2%;
     
}
.subPastWork{

   display: flex;
   flex-direction: column;
   flex-wrap: none;
   margin-left: 2%;
   width:50%;
   margin-right: 1%;
}
.smallSub{
    display:flex;
    margin:3%;

}
#projectOne{
 
width: 100%;
    
}
.card{
    width: 50%;
    margin-left: 2.5%;
    height:60%;
    background-color: slategray;
}
.card-smaller{
    width: 50%;
    margin-left: 2.5%;
    height:100%;
    background-color: slategray;
}
.card-body{
    padding: .9%;
}
.smallerPic{
 
 width: 100%;
     
}
.title{

    position:relative;
    left:5%;
}

@media screen and (max-width: 992px){

   
    .smallerPic{
       margin-top: 2%;
       margin-left: 2%;
       width: 40%;
       height: 40%;    
       }
       
}
@media screen and (max-width: 734px){

nav{
    
   top:8%;
    left:5%;
   
}
.aboutMe{ 
    flex-direction: column;
    height:fit-content;
}
.bio p{
    width:180%;
    margin-left: 15%;
    height:20%;
}

}

@media screen and (max-width: 480px){

    html{

        display: flex;
        justify-content: center;
    }
    nav{
    
        top: 7.8%;
         left:5%;
        
     }
    .pastWork{
        flex-direction: column;
        padding-left: 6%;
    }

    #projectOne{

        width: 90%;
    }
    .subPastWork{
        width: 90%;
    }
    .smallerPic{

        width:40%;
        padding-left: 3%;
    }
    
}
@media screen and (max-width: 380px){

    html{

       margin-left: 6%;
    }
}
@media screen and (max-width: 360px){

    html{

       margin-left: 10%;
    }
    nav{
    
        top: 9%;
         left:5%;
        
     }
}

@media screen and (max-width: 280px){
    html{

        margin-left: 40%;
    }

}